*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url("../img/pexels-photo-1438072.jpeg");
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /*width: 100%;*/
    background-position: 50% 2%;
}
.hero1 > h1 {
    font-weight: bolder;
    font-size: 4.5rem;
    color: white;
}
.hero1 > h5{
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
}
.hero1 > p {
    font-size: 1.5rem;
    color: white;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 0 auto ;*/
    padding: 0 5%;
}
.btn {
    background-color: #f1c50e ;
    color: black;
    border-radius: 20px;
    border: 1px solid #f1c50e ;
    font-size: 0.875rem;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
}
.hero2 {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;

}
.flex {
    margin: 0 7% 4% 14%;
}
.flex > img {
    width: 380px;
    height: 435px;
    margin:2% 2% 2% 2%;
}
.flex1 {
    margin-top: 6%;
    margin-left: 2%;
}
.flex1 > h2 {
    font-size: 3rem;
    font-weight: 700;
    /*margin: 60px 0 0;*/
}
.flex1 > h6 {
    font-size: 1rem;
    font-weight: 700;
    margin: 24px 0 0;
}
.flex1 > p {
    font-family: Montserrat, sans-serif ;
    font-weight: 400;
    line-height: 2;
    margin: 20px 0 0;
    width: 70%;
}
.some-word {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding: 30px 60px;
    margin-left: 10%;
    width: 85%;
}
.some-word > p {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 16px 0 0;
    font-family: Montserrat, sans-serif ;
    /*margin: 16px 0 0;*/
}
.share-social {
    display: flex;
    justify-content: flex-end;
    background-color: #f1c50e;
    color: white;
    height: 217px;
    width: 386px;
    margin: 2% 7% 2% 2%;
    float: right;
}
.share-social > p {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
    font-weight: 700;
    margin: 6%;
    font-family: Montserrat, sans-serif ;
}
.social-media {
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: 30px auto 0 0;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 31% 2% 2% 2%;
}
.sec-1 > h4 {
    letter-spacing: normal;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    margin: 17px auto 0 3px;
}
.sec-1 > p {
    font-style: normal;
    margin: 17px 0 0;
    width: 80%;
}
.cards {
    background-color: #f2f2f2;
}
.cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards > h1 {
    width: 628px;
    font-weight: 700;
    font-size: 3rem;
    margin: 60px auto 0;
}
.card > img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}