*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url("../img/pexels-photo-1438072.jpeg");
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /*width: 100%;*/
    background-position: 50% 2%;
}
.hero1 > h1 {
    font-weight: bolder;
    font-size: 4.5rem;
    color: white;
}
.hero1 > h5{
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
}
.hero1 > p {
    font-size: 1.5rem;
    color: white;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 0 auto ;*/
    padding: 0 5%;
}
.btn {
    background-color: #f1c50e ;
    color: black;
    border-radius: 20px;
    border: 1px solid #f1c50e ;
    font-size: 0.875rem;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
}
.hero2 {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;

}
.flex {
    margin: 0 7% 4% 14%;
}
.flex > img {
    width: 380px;
    height: 435px;
    margin:2% 2% 2% 2%;
}
.flex1 {
    margin-top: 6%;
    margin-left: 2%;
}
.flex1 > h2 {
    font-size: 3rem;
    font-weight: 700;
    /*margin: 60px 0 0;*/
}
.flex1 > h6 {
    font-size: 1rem;
    font-weight: 700;
    margin: 24px 0 0;
}
.flex1 > p {
    font-family: Montserrat, sans-serif ;
    font-weight: 400;
    line-height: 2;
    margin: 20px 0 0;
    width: 70%;
}
.some-word {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding: 30px 60px;
    margin-left: 10%;
    width: 85%;
}
.some-word > p {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 16px 0 0;
    font-family: Montserrat, sans-serif ;
    /*margin: 16px 0 0;*/
}
.share-social {
    display: flex;
    justify-content: flex-end;
    background-color: #f1c50e;
    color: white;
    height: 217px;
    width: 386px;
    margin: 2% 7% 2% 2%;
    float: right;
}
.share-social > p {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
    font-weight: 700;
    margin: 6%;
    font-family: Montserrat, sans-serif ;
}
.social-media {
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: 30px auto 0 0;
}
.ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 31% 2% 2% 2%;
}
.sec-1 > h4 {
    letter-spacing: normal;
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    margin: 17px auto 0 3px;
}
.sec-1 > p {
    font-style: normal;
    margin: 17px 0 0;
    width: 80%;
}
.cards {
    background-color: #f2f2f2;
}
.cards-section {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*width: 35%;*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-gap: 1rem;
    margin: 4% 10%;
}
.cards > h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 60px auto 0;
    padding-top: 3%;
    width: 56%;
    text-align: center;
}
.card {
    margin: 2% 2% 2% 2%;
    background: white;
    padding: 6% 6% 6% 6%;
    box-shadow: 4px 4px 4px #d3cdcd;

}

.card > img {
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    /*margin-left: -37px;*/
    /*margin-top: -22%;*/
}
.card > h4 {
    font-weight: 700;
    font-size: 1.5rem;
}
.card > p {
    margin: 35px auto 0 0;

}
.analysis {
    display: flex;
}
.flex-2 {
    display: flex;
    flex-direction: column;
    padding: 20px 32px 37px;
    background-color: #f1c50e;
    margin: 4% 4% 2% 4%;
    width: 50%;
}
.flex-2 > img {
    height: 282px;
    width: 100%s;
}
.flex-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    grid-gap: 1rem;
    margin-top: 4%;
}
.f-3 {
    padding: 32px;
}
.f-3 > h5 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    color: #f1c50e;
    font-family: Montserrat, sans-serif ;
}
.f-3 > span {
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px auto 0;
}
.f-3 > p {
    margin: 20px 10px 0;
}
.section-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    grid-gap: 1rem;
    margin: 7% 7% 4% 7%;
    background: #ebebeb;
    padding: 4%;
}
.sc-4 {
    /*display: flex;*/
    /*flex-direction: column;*/
}
.sc-4 > h4 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    margin: 0 auto 0 0;
}
.list {
    margin: 8% 5% 6% 6%;
    padding: 5%;
}

.list > li {
    margin-bottom: 15px;
}
.sub-section-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-gap: 1rem;
    margin: 2% 6%;
}
.section-5 > h1 {
    font-weight: 400;
    font-size: 3rem;
    margin: 70px auto 0;
    text-align: center;
}
.sec-5 {
    height: 80vh;
    background-color: white;
    box-shadow: 2px 2px 4px #c8c8c8,
                -2px -2px 4px #c8c8c8;
    border-radius: 15px;
}
.sec-5 > img {
    border-radius: 50%;
    border: 13px solid #f1c50e;
    width: 180px;
    align-items: center;
    margin: 10% 6% 3% 13%;
}
.sec-5 > h6 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 47px auto 0;
    text-align: center;
}
.sec-5 > p {
    margin: 30px 0 0;
    text-align: center;
}
.social {
    display: flex ;
    list-style-type: none;
    flex-direction: row;
}
.section-6 {
    display: flex;
    flex-direction: row;
    padding: 30px 130px;
}
.flex-4 > img {
    width: 292px;
    height: 384px;
    margin: 0 auto 0 0;
    object-fit: cover;
    vertical-align: middle;
}
.flex-5 > h3 {
    font-family: Roboto,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 18% 2% 3% 4%;
}
.flex-5 > p {
 line-height: 2;
    margin: 20px 0 0 17px;
}
.btn-secondary {
    background-color: #f1c50e;
    color: #111111;
    width: 115px;
    height: 40px;
    border: none;
    margin-left: 3%;
    margin-top: 3%;
}